<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>{{ pageTitle }}</h1>
    
    <agm-map [latitude]="lat_init" [longitude]="lng_init" [zoom]="zoom" >
            <agm-marker [latitude]="lat_init" [longitude]="lng_init"></agm-marker>
            <!-- <agm-marker 
                    *ngFor="let c of coords"
                    [latitude]="c.lat"
                    [longitude]="c.lon">
                    
            </agm-marker> -->

            <agm-polyline [editable]="true">
                    <agm-polyline-point *ngFor="let c of coords" 
                        [latitude]="c.lat"
                        [longitude]="c.lon">
                    </agm-polyline-point>
                </agm-polyline>

    </agm-map>

    <!-- <agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label">
      
    <agm-info-window>
      <strong>Vehicle</strong>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map> -->

</div>